<head>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue_grey-red.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<div id="target"></div>
<script id="template" type="text/ractive">

<style>
#new-post{
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
.card-wide.mdl-card {
    margin-bottom: 20px;
}
.card-wide > .mdl-card__title {
  color: #fff;
  background-color: #37474f;
  height: 130px;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}
.share_box{
    position:fixed;
    top:10%;
    left:10%;
    z-index:100000000;
}
</style>


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{% board_dict.title%}</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><strong>Board-om</strong></span>
    <nav class="mdl-navigation">
        <a href={{=URL('home')}}>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="width:100%;padding-bottom:5px">
                 Home 
            </button>
       </a>
      {% #if logged_in %} 
        <a href={{=URL('do_logout')}}>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="width:100%; padding-bottom:5px">
                <i class="fa fa-sign-out"></i> Logout
            </button>
       </a>
      {% else %}
        <a href={{=URL('do_login')}}>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="width:100%; padding-bottom:5px">
                <i class="fa fa-sign-in"></i> Login 
            </button>
       </a>
        <a href={{=URL('do_register')}}>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="width:100%; padding-bottom:5px">
                <i class="fa fa-user-plus"></i> Register
            </button>
       </a>
      {% /if %}
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content centered">
        <br>
        {% #if logged_in %}
            <button id="new-post" on-click="addPost" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
              <i class="material-icons">add</i>
            </button>
        {% /if %}

        <h2 style="text-align:center"> {% board_dict.title %} </h2>
        <h3 style="text-align:center"> {% board_dict.description %} </h3>
        <hr>

        {% #each post_list %}
         {% #if is_draft && user_id == author %}
            <div class="col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 col-lg-10 col-md-10">
            <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card-wide mdl-card mdl-shadow--2dp" style="width:100%">

              <div class="mdl-card__title">
                  <div class="mdl-textfield mdl-js-textfield" style="width:100%">
                    <label style="padding-bottom:0px" for="post_title">Title...</label>
                    <input class="mdl-textfield__input" value={% dtitle %} type="text" id="post_title_{% post_id %}" style="font-size:26px;width:100%;color:#FFF">
                  </div>
              </div>
              <div class="mdl-card__supporting-text" style="width:100%">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
                      <input value={% dbody %} class="mdl-textfield__input" type="text" rows= "3" id="post_desc_{% post_id %}" >
                  </div>
              </div>
              <div class="mdl-card__menu">
                    <button data-post-id="{% post_id %}" on-click="saveDraft" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                      <i class="material-icons">save</i>
                    </button>
                    <button data-post-id="{% post_id %}" on-click="cancelDraft" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                      <i class="material-icons">clear</i>
                    </button>
              </div>
            </div>
            </div>
        </div>
        {% else %}
            <div class="col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 col-lg-10 col-md-10">
            <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card-wide mdl-card mdl-shadow--2dp" style="width:100%">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{% title %}</h2>
              </div>
              <div class="mdl-card__supporting-text">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                    {% body %}
                </div>
              </div>
              <div class="mdl-card__menu">
                {% #if user_id == author %}
                <button data-post-id="{% post_id %}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="editPost">
                      <i class="material-icons">create</i>
                    </button>
                    <button data-post-id="{% post_id %}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" on-click="removePost">
                      <i class="material-icons">clear</i>
                    </button>
                {% /if %}
              </div>
            </div>
            </div>
          </div>

        {% /if %}

      {% /each %}
    </div>
  </main>
</div>
</script>

<script>
var board_id = {{=board_id}};
$(function() {

  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      board_dict: {},
      post_list : [],
      user_id : -1, 
      active_draft: "",
      loading: true
    },
  });

  // Loads the initial list of posts
  $.ajax("{{=URL('default', 'load_posts')}}",
          {
            method: 'POST',
            data : {"board_id" : board_id},
            success: function (data) {
              console.log(data);
              MAIN.set('board_dict', data['board_dict']);
              MAIN.set('post_list', data['post_list']);
              MAIN.set('logged_in', (data['user_id'] != -1));
              MAIN.set('user_id', data['user_id']);
              MAIN.set('loading', false);
            }
          }
    );

  // http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
  function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }

  MAIN.on("editPost", function(e) {
      id = $(e.node).data('post-id');
      var post_list = MAIN.get('post_list');
      post = get_by_id(id, function(post_list, x) { 
          post_list[x].dtitle = post_list[x].title;
          post_list[x].dbody= post_list[x].body;
          post_list[x].is_draft = true;
          MAIN.set('post_list', post_list);
          save_post(id);
      });
  });

  // This code is called when the submit button is pressed.
  MAIN.on("addPost", function(e) {
      if(! MAIN.get('logged_in') ) {
          return false;
      }
      var post_list = MAIN.get('post_list');

      console.log("addPost Called");

      post_list.unshift({"post_id" : generateUUID(),
                          "author" :  MAIN.get('user_id'),
                          "title" : "",
                          "dtitle" : "",
                          "num_posts" : 0,
                          "created_at" : new Date().toISOString(),
                          "updated_at" : new Date().toISOString(),
                          "body" : "",
                          "dbody" : "",
                          "board" : board_id, 
                          "is_draft" : true,
                          "uri" : "" 
      });

      MAIN.set('post_list', post_list);
  });


  // This code is called when the submit button is pressed.
  MAIN.on("saveDraft", function(e) {
      var id = $(e.node).data('post-id');
      var title = $("#post_title_"+id).val();
      var body = $("#post_desc_"+id).val();
      if(title === "") {
          alert("Please title the post before saving.");
          return;
      }
      console.log("saveDraft Called : ");
      console.log(id);
      post = get_by_id(id, function(post_list, x) {
          post_list[x].title = title;
          post_list[x].post_id = id;
          post_list[x].dtitle = title;
          post_list[x].body = body;
          post_list[x].dbody= body;
          post_list[x].updated_at = new Date().toISOString(),
          post_list[x].is_draft = false;
          MAIN.set('post_list', post_list);
          save_post(id);
      });
  });

  // This code is called when the submit button is pressed.
  MAIN.on("cancelDraft", function(e) {
      var id = $(e.node).data('post-id');
      post = get_by_id(id, function(post_list, x) {
          if(post_list[x].title === "") {
              remove_post(id);
              post = get_by_id(id, function(post_list, x) {
                  post_list.splice(x, 1);
                  MAIN.set('post_list', post_list);
              });
              return false;
          }
          post_list[x].is_draft = false;
          post_list[x].dtitle = post_list[x].title;
          post_list[x].dbody= post_list[x].body;
          MAIN.set('post_list', post_list);
          save_post(id);
      });
  });

  MAIN.on("removePost", function(e) { 
      id = $(e.node).data('post-id');
      if(remove_post(id)) {
          post = get_by_id(id, function(post_list, x) {
              post_list.splice(x, 1);
              MAIN.set('post_list', post_list);
          });
      }
  });


  function get_by_id(post_id, callback) {
      var post_list = MAIN.get('post_list');
      for(var x = 0; x < post_list.length; x++) {
          if(post_list[x].post_id === post_id) {
              return callback(post_list, x);
          }
      }
      return false;
  }

  function save_post(post_id) {
      return get_by_id(post_id, function(post_list, x) {
          $.ajax("{{=URL('default', 'add_post', user_signature=True)}}",
                  {
                    method: 'POST',
                    data : post_list[x],
                    success: function (data) {
                        console.log(data);
                    }
                  }
            );
      });
  }


  function remove_post(post_id) {
      return get_by_id(post_id, function(post_list, x) {
          return $.ajax("{{=URL('default', 'remove_post', user_signature=True)}}",
                  {
                    method: 'POST',
                    data : {"post_id" : post_id},
                    success: function (data) {
                        console.log(data);
                        return true;
                    }
                  }
            );
      });
  }


 });

</script>
